<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Let's FUKUOKA</title>
    <link rel="stylesheet" href="style.css">
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/http-vue-loader"></script>
    <link rel="icon" type="image/x-icon" href="icon.png">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div id="app">
	<transition name="fade">
		<opening-page
			v-if="!isPlaying"
			:site-title = "siteTitle"
			:is-playing = "isPlaying"
			@move-to-game = "moveToGame"
		></opening-page>
	</transition>
	<transition name="fade">
	<div v-if="isPlaying" class="h-full w-full fixed gradation-background p-1">
		<div class="bg-black h-full w-full">
			<div class="max-w-6xl min-w-s max-h-full">
	    		<h1 class='title text-4xl text-white'>{{siteTitle}}</h1>

	    		<maps></maps>

	    		<pop-up
	    			v-show="popupVisible"
	    			:correct-count="correctCount"
	    			@close-pop-up="closePopUp"
	    		></pop-up>

	    		<roulette
	    			v-if="readyToStart"
	    			:ready-to-start = "readyToStart"
	    			:roulette-active = "rouletteActive"
	    			@start-roulette = "startRoulette"
	    			@stop-roulette = "stopRoulette"
	    		></roulette>
<!--
	    		<count-down
	    			:start-count = 5
	    			@passed-method = "startRoulette"
	    		></count-down>
-->
	    		<answer-box
	    			:waiting-answer = "waitingAnswer"
	    			@answer = "answer($event)"
	    		>
	    		</answer-box>

	    	</div>
	    </div>
    </div>
	</transition>
</div>

</body>
<script src="main.js"></script>
</html>

