.title {
    text-align: center;
}

.roulette {
    text-align: center;
}

.answer_box {
    text-align: center;
    margin-top: 30px;
}

.answer {
    width: 20%;
    color: white;
    height: 2rem;
    border-radius: 5px;
    margin: 10px auto;
}

.answer_active:hover {
    background-color: dodgerblue;
}

.answer_active:active {
    background-color: deepskyblue;
}

.answer_active {
    box-shadow: 3px 3px cornflowerblue;
    background-color: deepskyblue;
}

.answer_inactive {
    background-color: grey;
    box-shadow: 3px 3px white;
}

.map {
    width: 30%;
    margin: 0 auto;
}

#start_btn {
    width: 20%;
    color: white;
    height: 2rem;
    border-radius: 5px;
    margin: 10px auto;
}

.start_btn_active {
    background-color: deepskyblue;
    box-shadow: 3px 3px cornflowerblue;
}

.start_btn_inactive {
    background-color: gray;
    box-shadow: 3px 3px white;
}

#stop_btn {
    width: 20%;
    color: white;
    height: 2rem;
    margin: 10px auto;
    border-radius: 5px;
}

.stop_btn_active {
    background-color: deepskyblue;
    box-shadow: 3px 3px cornflowerblue;
}

.stop_btn_inactive {
    background-color: grey;
    box-shadow: 3px 3px white;
}

#popup {
    position: fixed;
    left: 30%;
    top: 20%;
    width: 40%;
    height: 20%;
    border-radius: 5px;
    background-color: antiquewhite;
    display: none;
}

#popup_title {
    text-align: center;
    color: red;
}

#close_popup {
    margin: 0 auto;
    text-align: center;
    width: 20%;
    background-color: burlywood;
    border-radius: 3px;
}


